@using System.Web.UI.WebControls

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .modal-dialog {
    }

    #hdIssue {
        background-color: red;
    }
    h4 {

        font-size: 15px;

    }

    p {
        color: black;
        font-size: 12px;

    }
    a {
        font-size: 15px;
    }
</style>

<div class="container" style="overflow: auto" >



    @foreach (var items in ViewBag.Datas)
{

    <div class="row  col-md-8 user-menu-container square">


        <div class=" col-md-12 user-details">
            <div class="row coralbg white" id="top">
                <div class="col-md-8 no-pad" style="background-color: white">
                    <div class="user-pad" id="des">
                        <h3 class="badge badge-pill badge-primary issueBadge" id="hdIssue" style="font-size: 25px;" >Branding Issue No: <span id="hdIssueId">@items.Id</span></h3>
                        <br />
                        <br />
                        <h4 class="label label-primary" style="font-size: 20px;">Brand Category : @items.BrandCategory </h4>
                        <br/>
                        <br />
                        <h4 class="label label-success" style="font-size: 20px;">Brand Sub Category : @items.BrandSubCategory </h4>
                        <br />
                        <br />
                        <h4 class="label label-info" style="font-size: 20px;">Shop : @items.RetailerAddress </h4>
                        <br />
                        <br />
                        <h4 class="label label-primary" style="font-size: 20px;">Phone :@items.RetailerPhone </h4>
                           
                        @*<span value="@items.Description" selected="selected">@items.Description</span>*@
                    </div>


                </div>
                <div class="col-md-4 no-pad">
                    <div class="user-image">
                        <div class="file-preview-thumbnails">
                            <div class="container-fluid">
                                <div class="file-preview-frame file-preview-initial" id="preview-1475130072371-init_0" data-fileindex="init_0" data-template="image">

                                    @if (items.FileExtension == ".jpg" || items.FileExtension == ".png")
                                    {

                                        <img src="@items.IssueFile" class=" file-preview-image img-responsive" title="" alt="" style="width:300px;height:200px;" />
                                        @*<img src="@items.id" class=" file-preview-image img-responsive" title="" alt="" style="width:auto;height:160px;" />*@

                                    }
                                    else if (items.FileExtension == ".pdf")
                                    {

                                        <embed class="" id="filePath" src="@items.IssueFile" width="300px" height="200px" type="application/pdf" />

                                    }





                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row overview" id="down" >
                <div class="col-md-4 user-pad text-center" >



                    <div class="bs-example">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="">Monitoring Issues</a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p>@items.Description</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                            

                        </div>

                    </div>
                    <br />

                    <div class="row overview" id="down">
                        <button type="button" class="btn btn-lg btn-labeled btn-success pull-right btnComplete" id="btnComplete">
                            <span class="btn-label"><i class="fa fa-pencil "></i></span>Completed
                        </button>


                        <button type="button" class="btn btn-lg btn-labeled btn-danger pull-right btnRemove" id="btnRemove">
                            <span class="btn-label"><i class="fa fa-pencil"></i></span>Remove
                        </button>


                        <button type="button" class="btn btn-lg btn-labeled btn-warning pull-right btnpause" id="btnpause">
                            <span class="btn-label"><i class="fa fa-pencil"></i></span>Pause
                        </button>

                    </div>



                </div>


        



    </div>





}



    @*<div id="example">
        </div>                 <div class="demo-section k-header">
                         <h3>Image Upload</h3>
                         <br />
                         <div>
                             <label for="fileUpload">
                                 Select File to Upload:

                                 <input id="fileUpload" type="file" name="files" />
                                 <br />
                                 <br />
                                 <input id="btnUploadFile" type="button" value="Upload File" class="btn-primary" /></label>
                         </div>
                     </div>
                 </div>
                             </div>

                     <table class="table table-bordered table-hover" id="tblData">
                         <thead class="" style="background-color: #123D6A; color: white; font-size: 18px;text-align: center; border-radius: 50px; ">
                             <tr>
                                 <th style="">
                                     bId
                                 </th>

                                 <th>
                                     Sub Id
                                 </th>
                                 <th style="">
                                     Des
                                 </th>
                                 <th>
                                     Img
                                 </th>


                             </tr>
                         </thead>
                         <tbody class="tbody"></tbody>
                     </table>*@



    @*<div class="col-md-4">
            <input type="file" id="SelectImage" /><br />
            <a href="#" class="btn btn-sm btn-danger" onclick="UploadImage()">Upload</a>
        </div>

        <div class="col-md-10 thumbnail" id="UploadedImage"></div>*@

</div>


<div class="modal fade" id="filePreviewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Preview</h4>
                <h4 class="modal-title" id="btnModalDataChangeLabel" style="display:none">Modal title</h4>
            </div>
            <div class="modal-body" id="modelBody" style="overflow: auto">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="ModalBrandIssues" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Branding Issues</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <div class="x_panel">

                                    <div class="form-horizontal form-label-left input_mask">

                                        <div class="form-group row">
                                            <label class="col-sm-3 form-control-label"> Issue Id</label>
                                            <div class="col-sm-7" id="">
                                                <input id="txtModalIssuesId"type="number" maxlength="100" placeholder="Id" required="" class="form-control form-control-success" >
                                                

                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-sm-3 form-control-label">Remarks</label>
                                            <div class="col-sm-7" id="">
                                                <input id="txtModalIssuesRemarks" type="text" maxlength="100" placeholder="Remarks" required="" class="form-control form-control-success">


                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-sm-3 form-control-label">Steps</label>
                                            <div class="col-sm-7" id="">
                                                <input id="txtModalIssuesSteps" type="text" maxlength="100" placeholder="Steps" required="" class="form-control form-control-success">


                                            </div>

                                        </div>
                                        
                                        
                                        
                                        <div class="form-group row">
                                            <label class="col-sm-3 form-control-label">Status</label>
                                            <div class="col-sm-7" id="">
                                                <input id="txtStatus" type="text" maxlength="100" placeholder="status" required="" class="form-control form-control-success">


                                            </div>

                                        </div>

                                      
                                        @*<div class="form-group">
                                            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">


                                                <input type="submit" id="btnModalUpdate" value="Update" class="btn btn-success">
                                            </div>
                                        </div>*@
                                    </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal" id="btnModalUpdate">Complete</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

<link href="~/Plugins/vendors/fileInput/fileinput.css" rel="stylesheet" />
<link href="~/Plugins/vendors/ImageLoader/image.css" rel="stylesheet" />
<link href="~/Plugins/vendors/izitoast/iziToast.min.css" rel="stylesheet" />
<script src="~/Plugins/vendors/izitoast/iziToast.min.js"></script>
<script src="~/Plugins/vendors/jquery/dist/jquery.js"></script>
<script src="~/Plugins/vendors/fileInput/fileinput.js"></script>
<script src="~/Plugins/vendors/ImageLoader/image.js"></script>

<script>

    $(document).ready(function () {
        
      
    });


    $(document).on('click', '.btnComplete', function () {
        debugger;
      
        var issueId = $(this).closest('.user-details').find('#hdIssueId').html();

        $("#txtModalIssuesId").val(issueId);
        $("#txtStatus").val('Completed');
        

        $("#ModalBrandIssues").modal('show');
        //alert(issueId);


    });
    
    $(document).on('click', '.btnRemove', function () {
        debugger;
       
        var issueId = $(this).closest('.user-details').find('#hdIssueId').html();
        $("#txtModalIssuesId").val(issueId);
        $("#txtStatus").val('Remove');
        $("#ModalBrandIssues").modal('show');
       // alert(issueId);


    });
    
    $(document).on('click', '.btnpause', function () {
        debugger;
        alert("Okat");
        var issueId = $(this).closest('.user-details').find('#hdIssueId').html();
        $("#txtModalIssuesId").val(issueId);
        $("#txtStatus").val('Pause');
        $("#ModalBrandIssues").modal('show');
        //alert(issueId);


    });


    $(".img-responsive").on('click', function () {
        var img = $(this).attr('src');
        //alert(img);
        var modalData = "";
        //console.log(btnId);
        $('#filePreviewModal').modal();
        // if (btnId == "btnFilePreviewBootImage") {
        //  $('#btnModalDataChangeLabel').text(btnId);
        //  console.log($('#btnModalDataChangeLabel').text());
        modalData += '<embed src="' + img + '" style="width:700px; height:500px;" frameborder="0"></embed>';
        document.getElementById("modelBody").innerHTML = modalData;
        //}
        $('#filePreviewModal').modal();
    });
    //$(".btn").on('click', function () {
    //    debugger;
    //    $("#ModalBrandIssues").modal('show');
       
        
    //});

    $("#btnModalUpdate").click(function() {

        debugger;

        if ($("#txtModalIssuesRemarks").val() == "") {
            iziToast.warning({
                timeout: 1000,
                imageWidth: 150,
                position: 'center',
                title: 'Warning',
                message: 'Remarks Required'
            });
            return false;

        } else if ($("#txtModalIssuesSteps").val() == "") {
            iziToast.warning({
                timeout: 1000,
                imageWidth: 150,
                position: 'center',
                title: 'Warning',
                message: 'Steps Required'
            });
            return false;
        } else {
            var brandingIssue = {};

            brandingIssue.IssuesId = $("#txtModalIssuesId").val().trim();
            brandingIssue.Remarks = $("#txtModalIssuesRemarks").val().trim();
            brandingIssue.Steps = $("#txtModalIssuesSteps").val().trim();         


            console.log(brandingIssue);

         
        }
        debugger;
        $.ajax({
            url: '@Url.Action("InsertBrandingIssueSolvedInfo", "BrandingIssueSolved")',
            type: 'Post',
            data: JSON.stringify({ brandingIssue: brandingIssue }),
            dataType: 'json',
            async: false,
            contentType: 'application/json',
            success: function(data) {


                if (data.IsSuccess) {
                    iziToast.success({
                        timeout: 2000,
                        imageWidth: 150,
                        position: 'center',
                        title: 'Success',
                        message: 'Information Saved Successfully'
                    });

                    Clear();
                    return true;
                } else {
                    iziToast.error({
                        timeout: 2000,
                        imageWidth: 150,
                        position: 'center',
                        title: 'Error',
                        message: data.Message
                    });


                    return false;
                }


            },
            error: function(result) {
                iziToast.error({
                    timeout: 2000,
                    imageWidth: 150,
                    position: 'center',
                    title: 'Error',
                    message: result
                });

                return false;
            }
        });
    });


    //function Clear() {
    //    $('#txtModalIssuesId').val('');
    //    $('#txtModalIssuesRemarks').val('');
    //    $('#txtModalIssuesSteps').val('');
    //    $(document).ready(function () {
    //        reload();
    //    });

    //}

</script>



